.container-carrosel {
  position: relative;
  width: 500px;
  height: 640px;
  display: flex;
  justify-content: center;
}

.gallery {
  position: absolute;
  display: flex;
  width: 380px;
  height: 250px;
  justify-content: center;
}

.botoes-carrosel {
  position: relative;
  height: 615px;
  width: 500px;
  display: flex;
  align-items: center;
}

.control { /* Controle dos 2 botões */
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  opacity: 1;
  cursor: pointer;
  width: 0px;
  height: 0px;
  transition: 500ms;
  font-size: 2rem;
}

.control:hover {
  transform: scale(1.2);
}

.arrow-left {
  left: 0;
}

.arrow-right {
  right: 0;
}

.item-carrosel {
  position: absolute;
  width: 250px;
  height: 250px;
  opacity: 0;
  transition: 500ms;
}

.current-item {
  opacity: 1;
}