.oi{

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

}
  
.oi div {

}

.oi img {
  max-width: 100%;
  max-height: 615px;
  width: auto;
  height: auto;
}
